body {
    margin: 0px;
    text-align: center;
    background-color: #00FF04;;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}


.header{
    text-align: center;
    height: 70px;
}
.header h1{
    font-size: 40px;
}




.navbar {
    background-color: rgb(65, 65, 65);
    position:sticky;
    top: 0;
    z-index: 9;
    font-size: 20px;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 6%, 88%);
}
nav ul li{
    display: inline-block;
    padding: 5px;
    color: aliceblue;
}
nav ul .submenu{
    position: absolute;
    width: 145px;
    background-color: rgb(65, 65, 65);
    box-shadow: 0 20px 45px #ebe8e8;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s
}
nav ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    overflow: hidden;
}
nav ul .submenu li{
    margin: 15px 0px 0px -7px;
    width: 100%;
}
nav ul .submenu li a{
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    margin-left: -20px;
    margin-top: -1000px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.spas{
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-color: #00FF04;
    height: 350px;
    text-align: center;
    background-position: center;
}
.spas h1{
    font-size: 160px;
    color: white;
    font-weight: bolder;
    margin-top: 75px;
}
.image {
    border: 10px solid #5271FF;
    height: 393px ;
    width: 630px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: -50px;
    padding-left:-60px
}
.main{
    background-color: #FFFFFF;
    font-size: 23px;
}


.intro {
    margin-left: 235px;
    margin-bottom: -55px;
    margin-top: 90px;
    border-style: dashed;
    width:350px;
    height: 300px;
}
.intro li{
    text-align: left;
    padding-left: 20px;
}
.intro h4{
    padding-left: 5px;
    padding-right: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}


.roles {
    margin-left: 719px;
    margin-top: -306px;
    margin-bottom: 55px;
    border-style: dashed;
    width: 350px;
    height:300px;
}
.roles li{
    text-align: left;
    padding-right:10px;
    padding-left: 20px;
}
.roles h4{
    padding-left: 5px;
    padding-right: 50px;
    margin-bottom: 10px;
    margin-top: 20px
}
 
.footer {
    height: 160px;
}
.footer p{
    font-size:23px;
    padding-top:10px;
}
